<% @recipes.each_with_index do |recipe, index| %>
  <p><%= index %> : Nom de la recette : <%= recipe.name %> Description de la recette : <%= recipe.description %> Note : <%= recipe.rating %> / 5</p>
  <form action="/recipe/<%= index %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
  </form>
<% end %>

<a href="/new">Create a new recette</a>
